@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin body-font {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

$green: #59aa97;
$light-green: #e9f4f0;
$grey: #575757;
$light-grey: #adadad;

html {
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
}

.navbar {
    z-index: 30;

    .container-fluid {
        img {
            width: 150px;
            height: auto;
            object-fit: cover;
            margin-left: 3rem;
        }

        .navbar-collapse {
            justify-content: flex-end;
            align-items: center;
        }

        .navbar-nav {
            .nav-link {
                font-size: 1.8rem;
                padding: 0rem 2rem !important;
                font-weight: normal;
                color: #000;
                @include body-font;
            }

        }

        .navbar-nav .nav-link.active,
        .navbar-nav .show>.nav-link {
            color: $green ;
        }
    }
}

.about_section1 {
    .banner_content {
        position: absolute;
        z-index: 20;
        top: 45%;
        width: 100%;

        h1 {
            text-align: center;
            font-size: 4.7rem;
            color: #000;
            @include body-font;
            font-weight: normal;
        }

        p {
            text-align: center;
        }
    }
}

.about_section2 {
    position: relative;

    .row {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 90%;
            object-fit: cover;
        }

        h1 {
            @include body-font;
            font-size: 4.7rem;
            color: #fff;
            font-weight: normal;
            margin-bottom: 3rem;
            line-height: 120%;
            text-transform: capitalize;
        }

        p {
            @include body-font;
            font-size: 1.6rem;
            color: #fff;
            font-weight: normal;
            line-height: 140%;
            text-align: justify;
        }
    }
}

.about_section3 {
    .container {
        padding: 3rem 1.6rem;

        h1 {
            @include body-font;
            font-size: 4.7rem;
            color: #000;
            font-weight: normal;
            margin-bottom: 3rem;
            line-height: 120%;
            text-transform: capitalize;
            margin: 3rem 0rem;
        }

        p {
            @include body-font;
            font-size: 1.6rem;
            color: #000;
            font-weight: normal;
            line-height: 140%;
            text-align: justify;
            padding-right: 5rem;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.about_section4 {
    position: relative;

    .row {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 20;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        h1 {
            @include body-font;
            font-size: 4.7rem;
            color: #000;
            font-weight: normal;
            margin-bottom: 3rem;
            line-height: 120%;
            text-transform: capitalize;
            margin-top: 5rem;
            margin-bottom: 3rem;
            text-align: center;
        }

        p {
            @include body-font;
            font-size: 1.6rem;
            color: #000;
            font-weight: normal;
            line-height: 140%;
            text-align: center;

        }

        .right_content {
            background-color: $light-green;
            padding: 0rem 10rem 0rem 5rem;
            margin: 0;
        }

    }

    .black_border {
        position: absolute;
        z-index: 40;
        border: 1px solid #000;
        top: 7%;
        bottom: 7%;
        left: 4%;
        right: 4%;

    }
}

.about_section5 {
    margin: 3rem 0rem;

    .box {
        padding: 5rem 2rem;

        h3 {
            @include body-font;
            font-size: 2.8rem;
            color: rgb(228, 228, 228);
            font-weight: normal;
            line-height: 130%;
            text-align: center;
            margin-bottom: 3rem;
            ;
        }

        p {
            @include body-font;
            font-size: 1.5rem;
            color: rgb(207, 207, 207);
            font-weight: normal;
            line-height: 150%;
            text-align: center;
        }
    }
}

.about_section6 {
    padding: 2rem 0rem;
    .row {
        background-color: $green;
        padding: 1rem 2rem;
        width: 100%;
        margin: 0;
        align-items: center;

        p:first-child {
            @include body-font;
            font-size: 2.2rem;
            color: #fff;
            font-weight: normal;
            line-height: 100%;
            text-align: left;
            margin: 0;
        }

        .subscribe {
            background-color: #fff;
            border-radius: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 1.3rem 2rem;

            p {
                @include body-font;
                font-size: 2.2rem;
                color: #000;
                font-weight: normal;
                line-height: 100%;
                text-align: left;
            }

            button {
                background-color: $green;
                color: #fff;
                font-size: 2.2rem;
                @include body-font;
                padding: 1rem 2rem;
                border: none;
                border-radius: 50px;
            }
        }
    }
}

@media screen and (max-device-width: 1199px) {
    .about_section2 {
        .container {
            img {
                height: 490px !important;
            }
        }
    }
    .about_section4{
        .row{
            img{
                height: 100%;
            }
        }
    }
}

@media screen and (min-device-width: 992px) {}

@media screen and (max-device-width: 991px) {
    .navbar {
        .container-fluid {
            padding: 0;
        }

        .navbar-brand {
            position: relative;
            z-index: 50;

        }

        .navbar-toggler {
            position: relative;
            z-index: 50;
            margin-right: 2rem;
        }

        .navbar-collapse {
            background-color: #fefefef5;
            padding: 20% 0%;
            top: 0%;
            position: absolute;
            width: 100%;
            height: 100vh;

            .navbar-nav {
                li {
                    text-align: center;
                    margin: 1.5rem 0rem;
                }
            }
        }
    }

    .about_section1 {
        .banner_content {
            h1 {
                font-size: 2.2rem;
            }
        }
    }

    .about_section2 {
        .green_bg {
            height: 400px !important;
        }

        .container {
            .row {
                img {
                    width: 100%;
                }

                h1 {
                    font-size: 2.2rem;
                    margin: 2rem 0rem;
                    text-align: center;
                }
            }
        }
    }

    .about_section3 {
        h1 {
            font-size: 2.2rem !important;
            text-align: center !important;
            margin-top: 0 !important;
            margin-bottom: 2rem !important;
        }

        p {
            padding: 0 !important;
        }
    }

    .about_section4 {
        .row {
            img {
                height: 650px
            }

            h1 {
                font-size: 2.2rem;
            }

            p {
                padding: 0rem 1.6rem;
            }

            .right_content {
                padding: 0rem 1.5rem 5rem 1.5rem;
            }
        }

        .black_border {
            top: 3%;
            left: 2%;
            right: 2%;
            bottom: 2%;
        }
    }

    .about_section5 {
        .row {
            padding: 0rem 1.5rem;

            .col-lg-4 {
                margin: 1rem 0rem;

                .box {
                    padding: 3rem 1rem;

                    h3 {
                        font-size: 1.8rem;
                        margin-bottom: 2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .about_section6 {
        .row {
            padding: 3rem 0.7rem;

            p:first-child{
                font-size: 1.8rem;
                margin-bottom: 2.5rem;
                line-height: 140%;
                text-align: center;
            }
            .subscribe{
            p{
                font-size: 1.8rem;
                margin: 0;
            }
            button{
                font-size: 1.8rem;
            }
        }
        }
    }
}

@media screen and (max-device-width: 767px) {
    .about_section2 {
        .container {
            img {
                height: auto !important;
            }
        }
    }

    .about_section2 {

        .green_bg {
            height: 300px !important;
        }
    }
}

@media screen and (max-device-width: 574px) {
    .navbar {
        img {
            width: 100px !important;
            margin-left: 2rem !important;
        }
    }

    .about_section1 {
        padding-top: 60% !important;
    }

    .about_section4 .row img {
        height: 300px;
    }
}